body {
    background-color: #1E212F;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Margaret';
    src: url(Margaret.otf) format('otf');
}


/*footer*/

.footer {
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.75);
}

.pieds {
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 250px;
    line-height: 20px;
}

.haut {
    color: #7f89b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 70px;
    margin-left: 750px;
    margin-right: 750px;
    transition: all 1s ease;
}

.haut a:hover {
    color: #9baeff;
    transform: scale(1.1);
    transition: all .75s ease;
}