.lien {
    text-decoration: none;
    transform: rotate(-90deg);
    transform-origin: top 100px;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.Titre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

h1 {
    font-family: 'Margaret';
    color: rgba(255, 255, 255, 0.75);
    font-size: 90px;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    transform: translate(-50%, -3.3em);
}

img {
    width: 40%;
    margin: auto;
}

.photo1,
.photo2,
.photo3 {
    text-align: center;
    display: block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
}